.hero {
  padding: calc(var(--spacing)*7.5) 0 calc(var(--spacing)*18.13); /* 120px 0 290px */
  overflow: hidden;   /* щоб не виходили за межі hero */
}

.hero__container {
  position: relative;

}


.hero__text {
  text-align: center;
  position: relative;
/* z-index: 2; */
}

.hero__title {
  position: relative;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: calc(var(--font-size-base)*5); /* 120px */
  line-height: 1.07;
  text-align: center;
  color: var(--primary-pink);

/* 
  text-shadow: 
    2px 2px 0 #0B4141,
   -2px 2px 0 #0B4141,
    2px -2px 0 #0B4141,
   -2px -2px 0 #0B4141;  */
-webkit-text-stroke: 2px #0B4141;

}

.black {
  /* Gradient Primary */
  background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  z-index: 99;
}

/* .hero img{
  position: absolute;
} */

.hero__horse {
  position: absolute;
  left: 50%;
  top: 145px;
  transform: translateX(-44%);
  z-index: 1;

width: 1224px;
max-width: 100%;
height: auto;
}

.hero__confetti {
  position: absolute;
  top: calc(var(--spacing)*5.94); /* 95px */
  left: 0;
}