@font-face {
  font-family: '';
  src: url('') format('truetype');
  font-weight: 100 900; /* діапазон ваг */
  font-style: normal/italic;


  @font-face {
    font-family: '';
    src: url('') format('truetype');
    font-weight: 100 900; /* діапазон ваг */
    font-style: normal/italic;
  