.hero__title {
  /* padding-top: 200px; */
  text-align: center;
  background-color: var(--color-light-bg);
  /* padding-block: 200px 73px; */

padding-top: clamp(9.375rem, 5.804rem + 7.44vw, 12.5rem);
  /* 150px-200px */

  padding-bottom: clamp(2.188rem, -0.527rem + 5.655vw, 4.563rem);
  /* 35px-73px */
}


.main_AboutTheTheme {
width: 100%;
min-height: 100%;
line-height: 1.75;
}

.main_content {
  /* margin-bottom: 63px; */
  margin-bottom: clamp(1.875rem, -0.482rem + 4.911vw, 3.938rem);

}

.content__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* row-gap: 20px; */
  row-gap: clamp(0.625rem, -0.089rem + 1.488vw, 1.25rem);

  /* margin-top: 93px; */
  margin-top: clamp(2.188rem, -1.955rem + 8.631vw, 5.813rem);
  /* 35-93 */
}



.main_content  {
  text-align: left;
}

.container-sm {

}

.main__btn {

}

.transparent {

}

.btn__wrapper {
display: flex;
/* gap: 60px; */
gap: clamp(1.875rem, -0.268rem + 4.464vw, 3.75rem); 
/* 30-60 */
}

