

.main_content {
  /* margin-bottom: 63px; */
  margin-bottom: clamp(1.875rem, -0.482rem + 4.911vw, 3.938rem);

}

.content__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* row-gap: 20px; */
  row-gap: clamp(0.625rem, -0.089rem + 1.488vw, 1.25rem);

  /* margin-top: 93px; */
  margin-top: clamp(2.188rem, -1.955rem + 8.631vw, 5.813rem);
  /* 35-93 */
}



.main_content  {
  text-align: left;
}

.container-sm {

}

.main__btn {

}

.transparent {

}

.btn__wrapper {
display: flex;
/* gap: 60px; */
gap: clamp(1.875rem, -0.268rem + 4.464vw, 3.75rem); 
/* 30-60 */
}

