
@import url(var.css);
/* @import url(media.css); */




@font-face {
  font-family: "Poppins";
  src:
    url(../fonts/Poppins/Poppins-Regular.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url(../fonts/Poppins/Poppins-Medium.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url(../fonts/Poppins/Poppins-SemiBold.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url(../fonts/Poppins/Poppins-Bold.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}


/* reset */
/* ! Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;

  font-size: inherit; /* унаслідується від body */
  font-weight: inherit; /*унаслідується від body */
  font-family: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #000;
  
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}

/* ====base==== */

html {
 font-size: 18px;
}


body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 1rem;
  font-family: var(--font-family-base);
  line-height: 1.2;

}

[class*="container-"] {
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}

.container-xl {
  max-width: var(--container-width-xl);  /* 1450px */
}

.main__title {
 font-weight: 700;
  font-size: 2rem;
  line-height: 0.83;
}


.hidden {
  display: none;
}


.page {
position: relative;
min-height: 100vh;
}
/* ======HEADER====== */

.header {
max-height: 100px;

position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 10;
}

.header__inner {
padding-block: 41px 34px;

display: grid;
grid-template-columns: repeat(2, 1fr);
align-self: center;
}

.logo {
   font-weight: 400;
  font-size: 1.4rem;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 42px;
}
.menu__item {
  font-weight: 400;
}

/* ================== */




/* ======MAIN====== */

.main {

display: grid;
grid-template-columns: 1fr 50%;
/* min-height: 100vh;  */
height: 100vh; 

/* grid-row-gap: 20px; */
}

.main__content {

display: flex;
flex-direction: column;
/* row-gap: 37px; */
justify-content: flex-end;




/* width: 50%; */
padding-top: 178px;
padding-right: 74px;


}


.main__content_details {
  
  padding-left: 105px;
}


/* 👉 Це означає: «для кожного прямого дочірнього елемента в .main__content, крім останнього, додай відступ знизу 37px».
Таким чином відступи будуть тільки між елементами, а останній залишиться без «гепу» */
.main__content_details >*:not(:last-child) {  
  margin-bottom: 37px;
}



.main__text {
font-weight: 400;
  line-height: 1.75;
}

.main__list {
display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main__item {
display: flex;
  position: relative;
}



.main__item::before {
  content: "";
  position: absolute;
}

.main__item.figma::before {
  background: url(../icons/main_icon1.svg);
  width: 14px;
  height: 20px;
}

.main__item.wordpress::before {
  background: url(../icons/main_icon2.svg);
  width: 16px;
  height: 16px;
}

.main__item.voog::before {
  background: url(../icons/main_icon3.svg);
  width: 18px;
  height: 17px;
}

.main__item__link {
  padding-left: 28px;
  text-decoration: underline;
}

.main__btn {
  display: block;
  width: fit-content;
  height: auto;
  text-align: left;

  font-weight: 400;
  font-size: 1rem;
  color: var(--color-light);
  padding: 20px 29px;

  background: var(--color-dark);
  border-radius: 34.5px;

  margin-top: 25px;
} 




.hero {
min-width: 0;
/* height: 100vh; */
height: 100%;

}

.hero img {
  display: block;

  width: 100%;
height: 100%;
object-fit: cover; 

}




/* ================== */


.footer {
  /* padding-bottom: 19px; */
  padding-top: 105px;
  /* max-width: 435px; */
  /* padding-inline: var(--container-padding-x); */
  padding-bottom: 19px;
  padding-left: 46px;

}
.footer__credits {
font-weight: 400;
font-size: 12px;
  text-align: left;
}